* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  height: 50rem;
}

.calculator-content {
  height: 50rem;
}

.text-field {
  display: block;
  background-color: blue;
  height: min-content;
}

#expression-display {
  height: 2rem;
}
.buttons {
  display: grid;
  grid-template-areas: "AC AC AC AC AC AC DIV DIV DIV MUL MUL MUL"
                      "SEVEN SEVEN SEVEN EIGHT EIGHT EIGHT NINE NINE NINE SUB SUB SUB"
                      "FOUR FOUR FOUR FIVE FIVE FIVE SIX SIX SIX ADD ADD ADD"
                      "ONE ONE ONE TWO TWO TWO THREE THREE THREE EQUALS EQUALS EQUALS"
                      "ZERO ZERO ZERO ZERO ZERO ZERO DECIMAL DECIMAL DECIMAL EQUALS EQUALS EQUALS";
}

#clear {
  grid-area: AC;
}

#divide {
  grid-area: DIV;
}

#multiply {
  grid-area: MUL;
}

#seven {
  grid-area: SEVEN;
}

#eight {
  grid-area: EIGHT;
}

#nine {
  grid-area: NINE;
}

#subtract {
  grid-area: SUB;
}

#four {
  grid-area: FOUR;
}

#five {
  grid-area: FIVE;
}

#six {
  grid-area: SIX;
}

#add {
  grid-area: ADD;
}

#one {
  grid-area: ONE;
}
#two {
  grid-area: TWO;
}

#three {
  grid-area: THREE;
}

#equals {
  grid-area: EQUALS;
}

#zero {
  grid-area: ZERO;
}

#decimal {
  grid-area: DECIMAL;
}

.btn-calc {
  border: none;
  border: 1px solid black;
  outline: none;
  padding: .5rem;
}